@import '../../variables.scss';

.user-form {
  background-color: $background-color;
  width: 335px;
  margin: 20px auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  &__error {
    display: block;
    margin: -10px 0 10px 0;
    color: red;
  }
}
