@import '../../variables.scss';

.header {
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  &__logo {
    cursor: pointer;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &__authorization {
    display: flex;
    align-items: center;

    &-user {
      display: flex;
      align-items: center;
      margin-right: 20px;
      margin-left: 20px;
      gap: 10px;
    }

    &-create {
      background-color: inherit;
      margin-right: 20px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      border: 1px solid $button-green;
      border-radius: 5px;
      color: $button-green;
      padding: 5px 10px;

      &:active {
        translate: 0 1px;
      }
    }

    &-out {
      background-color: inherit;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      border: 1px solid gray;
      border-radius: 5px;
      color: gray;
      padding: 10px;

      &:active {
        translate: 0 1px;
      }
    }

    &-up {
      background-color: inherit;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      border: 1px solid lightgreen;
      border-radius: 5px;
      color: lightgreen;
      padding: 10px;

      &:active {
        translate: 0 1px;
      }
    }

    &-in {
      background-color: inherit;
      font-size: 14px;
      cursor: pointer;
      padding: 10px;
      margin-right: 20px;
      border: none;

      &:active {
        translate: 0 1px;
      }
    }
  }
}
